Django==1.4.3

django-dajax==0.9.2
https://github.com/FructusCode/django-dajaxice/archive/0.5.4.1g.zip
django-crispy-forms==1.1.4
django-classy-tags==0.4
django-sekizai==0.7
django-jstemplate==1.1.1

django-like==0.0.3
South==0.7.6

https://github.com/FructusCode/python-musicbrainz-ngs/archive/0.3dev.zip
https://github.com/FructusCode/pythemoviedb/archive/1.0.zip

https://github.com/FructusCode/WePay-Python-SDK/archive/0.1.5.zip