{% extends 'account/index.html' %}

{% load sekizai_tags %}
{% load helper_tags %}

{% block account_body %}
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}apwan/js/lib/holder.js"></script>
    {% endaddtoblock %}
    <div class="page-header">
        <h2>Add Payee</h2>
    </div>
    {% if error %}
        <div class="alert alert-error">
            {{ error }}
        </div>
    {% endif %}
    <h3>Linked Accounts</h3>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th style="width: 80px;">Service</th>
                <th style="width: 120px;">Account ID</th>
                <th style="width: 180px;">Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td style="padding: 8px 0;">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="account_id" value="{{ account.id }}"/>
                            <button type="submit" class="btn btn-mini">Use</button>
                        </form>
                    </td>
                    <td><span class="label label-info">{{ account.get_service_display }}</span></td>
                    <td>{{ account.service_id }}</td>
                    <td>{{ account.username }}</td>
                    <td>{{ account.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Available Platforms</h3>
    <ul class="thumbnails">
        {% for pk, pv in platforms.items %}
            <li class="span4" style="background-color: white;">
                <div class="thumbnail">
                    <img src="{{ STATIC_URL }}apwan{{ pv.thumbnail }}" alt="">

                    <div class="caption">
                        <span class="label{% if pv.country_class %} {{ pv.country_class }}{% endif %}">
                            {% if pv.country %}
                                {{ pv.country }}
                            {% else %}
                                International
                            {% endif %}
                        </span>
                        <h2>{{ pv.title }}</h2>
                        <p>{{ pv.description }}</p>
                        <p>
                            {% if pv.type == 'oauth' %}
                                <a href="{{ pv.oauth_url }}" class="btn">Link</a>
                            {% elif pv.type == 'form' %}
                                <a href="/account/add_payee/{{ pv.key }}" class="btn">Link</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}