{% extends 'account/index.html' %}

{% load helper_tags %}

{% block account_body %}
    <ul class="thumbnails">
        <li class="span4" style="background-color: white;">
            <div class="thumbnail">
                <img src="{{ STATIC_URL }}apwan/img/media/wepay.png" alt="">

                <div class="caption">
                    <span class="label label-info">United States</span>
                    <h2>WePay</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vivamus placerat venenatis libero vel pellentesque.
                    </p>
                    <p>
                        <a href="/account/payee/add/wepay/" class="btn btn-primary">Add Payee</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="span4" style="background-color: white;">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="">

                <div class="caption">
                    <span class="label">International</span>
                    <h2>Lorem</h2>
                    <p>
                        <a href="/account/payee/add/wepay/" class="btn">Add Payee</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}