{% extends 'dev/index.html' %}

{% load sekizai_tags %}
{% load dajaxice_templatetags %}
{% load jstemplate %}

{% block dev_index_container %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
        {% dajaxice_js_import %}
        <script src="{{ STATIC_URL }}apwan/lib/mustache.js"></script>
        <script src="{{ STATIC_URL }}libs/django.mustache.js"></script>
        {% mustachejs "dev/donation/create_result" %}
        <script type="text/javascript" src="{{ STATIC_URL }}apwan/templates/dev/donation/create.js"></script>
    {% endaddtoblock %}

    <h2>donation.checkout</h2>
    <input type="text" id="donation_recipient_id" placeholder="Recipient ID" /><br/>
    <input type="text" id="donation_entity_id" placeholder="Entity ID" /><br/>
    <input type="text" id="donation_amount" placeholder="$5.00" /><br/>
    <br/>
    <button id="checkout_submit">Checkout</button><br/>
    <br/>
    <div id="checkout_result">
    </div>
{% endblock %}