#search_title
{
    margin-bottom: 0;
    margin-left: 7px;
}

#search_results li
{
    margin: 7px;
}

#search_results .claim_item
{
    background-color: white;
}

#search_results .claim_item .thumbnail .caption h4
{
    margin: 0;
    margin-bottom: 5px;
}

#search_results .claim_item .thumbnail .caption span.label
{
    margin-bottom: 10px;
}

#search_results .claim_item .thumbnail .caption ul
{
    list-style-type: none;
    margin: 0;
}

#search_results .claim_item .thumbnail .claim-actions
{
    text-align: right;
}

#search_results .claim_item .thumbnail .claim-actions span.label
{
    margin-bottom: 0;
    margin-right: 5px;
}