@import "../../../less/isotope_animations";

#search_title
{
  margin-bottom: 0;
  margin-left: 0px;

  width: 52.2%;
}

#search_type
{
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 6px;
}

#actions
{
  margin-top: 5px;
}

.account-body
{
  padding: 15px;
  padding-right: 0;

  #search_results
  {
    .claim_item
    {
      margin: 0;
      margin-bottom: 15px;
      background-color: white;

      .thumbnail
      {
        .caption
        {
          h4
          {
            margin: 0;
            margin-bottom: 5px;
          }

          span.label
          {
            margin-bottom: 10px;
          }

          ul
          {
            list-style-type: none;
            margin: 0;
          }
        }

        .claim-actions
        {
          text-align: right;

          span.label
          {
            margin-bottom: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
}