{% extends 'base_menu.html' %}

{% load helper_tags %}

{% block base_menu_container %}
    <div class="span2" style="padding: 0; margin-left: 0;">
        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="nav-header">Entity</li>
                <li class="{% active request '/dev/entity/search' %}">
                    <a href="/dev/entity/search"><i class="icon-search"></i> Search</a>
                </li>

                <li class="nav-header">Donation</li>
                <li class="{% active request '/dev/donation/create' %}">
                    <a href="/dev/donation/create"><i class="icon-shopping-cart"></i> Create</a>
                </li>
            </ul>
        </div>

        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="nav-header">WePay</li>

                <li><a href="/dev/wepay/account"><i class="icon-book"></i> Account</a></li>
                <li class="{% active request '/dev/wepay/account/find' %}">
                    <a href="/dev/wepay/account/find">
                        <span style="margin-left: 15px;"><i class="icon-search"></i> Find</span>
                    </a>
                </li>

                <li><a href="/dev/wepay/checkout"><i class="icon-shopping-cart"></i> Checkout</a></li>
                <li class="{% active request '/dev/wepay/checkout/create' %}">
                    <a href="/dev/wepay/checkout/create">
                        <span style="margin-left: 15px;"><i class="icon-plus"></i> Create</span>
                    </a>
                </li>

                <li><a href="/dev/wepay/account"><i class="icon-user"></i> User</a></li>
            </ul>
        </div>
    </div>

    <div class="span10">
        {% block dev_index_container %}{% endblock %}
    </div>
{% endblock %}