{% extends 'base_menu.html' %}

{% load sekizai_tags %}
{% load helper_tags %}

{% block base_menu_container %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}apwan/templates/account/base.css"/>
    {% endaddtoblock %}

    {% if error_message %}
        <div class="row-fluid">
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ error_message|safe }}
            </div>
        </div>
    {% endif %}

    <div class="row-fluid">
        <div class="span3 well account-menu-span">
            <ul class="nav nav-list">
                <li class="nav-header">Account</li>
                <li class="{% active request 'account-profile' %}"><a href="{% url account-profile %}">Profile</a></li>

                <li class="nav-header">
                    Payees
                    <a class="add-link {% active request 'account-payee-add' %}" href="{% url account-payee-add %}">
                        <i class="icon-plus"></i>
                    </a>
                </li>
                {% for payee in menu.payees %}
                    <li class="{% active request payee.path %}"><a href="{{ payee.path }}">{{ payee.title }}</a></li>
                {% endfor %}

                <li class="nav-header">
                    Recipients
                    <a class="add-link {% active request 'account-recipient-claim' %}" href="{% url account-recipient-claim %}">
                        <i class="icon-plus"></i>
                    </a>
                </li>
                {% for recipient in menu.recipients %}
                    <li class="{% active request recipient.path %}"><a href="{{ recipient.path }}">{{ recipient.title }}</a></li>
                {% endfor %}

                <li class="nav-header">Reports</li>
                <li class=""><a href="{% url account-report-donations %}">Donations</a></li>
            </ul>
        </div>
        <div class="account-body span9 well">
            {% block account_body %}
                <div class="username-header">
                    <h2>{{ user.username }}</h2>
                    {% if user.is_staff %}
                        <span>Staff</span>
                    {% endif %}
                    {% if user.is_superuser %}
                        <span>Superuser</span>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}