{% load sekizai_tags %}
{% load compress %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}apwan/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}apwan/lib/bootstrap/css/bootstrap-responsive.min.css"/>

    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}apwan/templates/base.less"/>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}apwan/js/lib/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}apwan/lib/bootstrap/js/bootstrap.min.js"></script>
{% endaddtoblock %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block base_title %}{% endblock %}Fruct.us</title>

        {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    </head>
    <body>
        {% block base_body %}{% endblock %}

        {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
    </body>
</html>