{% load sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}apwan/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}apwan/lib/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}apwan/templates/base_menu.css"/>
{% endaddtoblock %}

{% addtoblock "javascript" %}
    <script src="{{ STATIC_URL }}apwan/js/lib/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}apwan/lib/bootstrap/js/bootstrap.min.js"></script>
{% endaddtoblock %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block base_title %}{% endblock %}Fruct.us</title>

        {% render_block "css" %}
    </head>
    <body>
        {% block base_body %}{% endblock %}

        {% render_block "javascript" %}
    </body>
</html>