{% extends 'account/index.html' %}

{% load sekizai_tags %}
{% load helper_tags %}
{% load dajaxice_templatetags %}
{% load jstemplate %}

{% block account_body %}
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}apwan/templates/account/recipient/claim.less"/>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}apwan/js/lib/jquery.isotope.js"></script>
        {% dajaxice_js_import %}
        <script type="text/javascript" src="{{ STATIC_URL }}apwan/js/lib/mustache.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}libs/django.mustache.js"></script>
        {% mustachejs "account/recipient/claim_result_item" %}
        <script type="text/javascript" src="{{ STATIC_URL }}apwan/templates/account/recipient/claim.js"></script>
    {% endaddtoblock %}

    <input id="search_title" type="text" placeholder="Title"/>
    <br/>
    <select id="search_type" class="span4">
        <option selected>All</option>
        <option>Label</option>
        <option>Artist</option>
        <option>Production Company</option>
    </select>

    <div id="actions" class="btn-group">
        <button id="search_submit" class="btn btn-primary">Search</button>
        <button id="lookup_submit" class="btn">Lookup</button>
    </div>
    <br/>

    <br/>
    <br/>

    <div id="search_results">
    </div>
    <div id="claimedDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="claimedDialogLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="claimedDialogLabel">Already Claimed</h3>
        </div>
        <div class="modal-body">
            <p>This recipient has already been claimed by a user.</p>
            <p>
                If you are the correct owner of this recipient please contact us at
                <a href="mailto:team@fruct.us">team@fruct.us</a> so we can verify you as the correct owner and
                handover ownership to you.
            </p>
        </div>
    </div>
{% endblock %}