import os

__author__ = 'Dean Gardiner'

# API Key for http://www.themoviedb.org
TMDB_KEY = ''
os.environ['PYTHEMOVIEDB_API_KEY'] = TMDB_KEY

# WePay
WEPAY_PRODUCTION = False
WEPAY_CLIENT_ID = ''
WEPAY_CLIENT_SECRET = ''
WEPAY_ACCESS_TOKEN = ''

WEPAY_ACCOUNT_ID = ''  # Used for collecting tips/donations

# Braintree
BRAINTREE_PRODUCTION = False
BRAINTREE_MERCHANT_ID = ''
BRAINTREE_PUBLIC_KEY = ''
BRAINTREE_PRIVATE_KEY = ''
